@media screen and (max-width: 400px) {
  body {
    // url("../images/bg-pattern-top.svg") -66vw -30vh / 23em no-repeat, url("../images/bg-pattern-bottom.svg") 57vw 1vh / 9em no-repeat rgb(25, 162, 174)
    // background-position: -66vw -30vh, 1vw 1vh;
    background-position: -66vw -30vh, 44vw 57vh;
    background-size: 23em, 32em;
  }

  main {
    width: 18rem;
  }
}
