@import "config";

hr {
  margin-top: 2rem;
  margin-bottom: -1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  height: 100vh;
  overflow: hidden;

  // border-radius: 50%;
  // height: 100%;

  // background: $dark-cyan url("../images/bg-pattern-top.svg") no-repeat 0 -300%;

  background: url("../images/bg-pattern-top.svg") left top no-repeat;
  // ,
  // url("../images/bg-pattern-bottom.svg") right bottom no-repeat;

  background-position: left -50%;
  // , 1%;
  // background-position: 0 0, -10% -10%;
  background-size: 30em;
  // background-size: 40em, 40em;
  background-color: $dark-cyan;

  // background: $dark-cyan url("../images/bg-bottom-top.svg") no-repeat -100% 100%;

  // background-color: $dark-cyan;
  // background-image: url("../images/bg-pattern-top.svg");
  // background-repeat: no-repeat;
  // background-position: 0 -300%;
  // // background-position: top left;
  // background-attachment: fixed;
  // background-size: 30rem;

  // background-image: url("../images/bg-pattern-bottom.svg");
  // background-repeat: no-repeat;
  // background-position: 0 100%;
  // // background-position: top left;
  // background-attachment: fixed;
  // background-size: 30rem;
  // background-size: 20rem;
  // background: url("../images/bg-pattern-top.svg") no-repeat top left fixed 20rem;
  // background: url("../images/bg-pattern-card.svg");
}

main {
  // position: relative;
  width: 20rem;
  // max-width: 30rem;
  // margin: auto;
  background-color: #fff;

  border-radius: 1.2rem;
  // border-radius: 0 0 1.2rem 1.2rem;
  // border-radius: 50%;
}

.header {
  text-align: center;
  margin-top: -10%;
}

h1 {
  // position: relative;
  // position: absolute;
  // top: 50%;
  // left: 10%;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 0;
  // text-align: center;
  // vertical-align: middle;
}

h2 {
  margin-bottom: 0em;
}

h1,
h2 {
  font-family: "Kumbh Sans", sans-serif;
  color: $dark-desaturated-blue;
  font-size: 1em;
}

p {
  // font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.7em;
  font-weight: 400;
  color: $dark-grayish-blue;
}

.user-age {
  color: $dark-gray;
  // font-size: 0.5em;
  font-weight: 400;
}

.followers,
.likes,
.photos {
  text-align: center;
}

.bg-pattern-card-wrapper {
  background-color: $dark-cyan;
  // background-color: transparent;
}

.bg-pattern-card {
  background-image: url("../images/bg-pattern-card.svg");
  // background-repeat: no-repeat;
  // background-color: $dark-cyan;
  width: 100%;
  height: 140px;
  border-radius: 1.2rem 1.2rem 0 0;
}

.image-victor-wrapper {
  position: relative;
  top: -48px;
  // top: -2em;

  display: flex;
  justify-content: center;
}

.image-victor {
  // display: flex;
  // justify-content: center;

  background-image: url("../images/image-victor.jpg");
  background-repeat: no-repeat;
  background-position: center;

  border: 5px solid #fff;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  // text-align: center;
}
// //TODO delete .main-content
// .main-content {
//   background-color: #fff;
// }
.numbers-group {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  margin: 0 1rem;

  // border-radius: 0 0 1.2rem 1.2rem;
  // background-color: #fff;
}

@import "mobile";
